--swiftversion 5.9
--stripunusedargs closure-only
--wraparguments before-first
--wrapcollections before-first
--ifdef no-indent
--guardelse same-line
--self remove
--semicolons never
--commas inline
--decimalgrouping 3,6
--hexgrouping 4,8
--ranges spaced
--maxwidth 120
--disable redundantSelf,trailingCommas,wrapConditionalBodies
--exclude dist,.build
